{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
<form  action="{% url 'edit_page' %}" method="post">
    {% csrf_token %}
  <input type="hidden" name=title value="{{title}}">
  <input type="submit" value="Edit">
</form>
<form  action="{% url 'make_sure_page' %}" method="post">
    {% csrf_token %}
  <input type="hidden" name=make_sure value="{{title}}">
  <input type="submit" value="Delete">
</form>
<h1>{{title}}</h1>

    <ul>
        {% if entrypage == None %}
            <h1>nope i do not have it</h1>
        {% else %}
            <h1>{{entrypage}}</h1>
        {% endif %}
    </ul>

{% endblock %}