{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

    <form action="{% url 'edit_page' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" id="title" name="title">
        <input type="hidden" id="content" name="content">
        <input type="submit" value="Edit page">
    </form>



<button>delete page</button>
<h1>Entry</h1>

    <ul>
        {% if entrypage == None %}
            <h1>nope i do not have it</h1>
        {% else %}
            <h1>{{entrypage}}</h1>
        {% endif %}
    </ul>

{% endblock %}